.game-state{
  width:100%;
}

#progress{
  width:100%;
}

#progress .bar1{
  background-color: rgb(76, 175, 80);
}

#progress .bar2{
  background-color: rgb(244, 67, 54);
  background-image:none;
}

#correct, #wrong{
	border-radius:2px;
	padding:2px;
	margin:3px;
	color:#FFF;
}

#correct{
  background-color: rgb(76, 175, 80);
}

#wrong{
  background-color: rgb(244, 67, 54);
}

.mdl-card__title {
  width:100%;
  height: 117px;
}
.game-state  .mdl-card__title {
  color: #fff;
  background: url('../img/question_answer_white.png') bottom right 15% no-repeat #46B6AC;
  background-position-y: 5%;
}

@media (min-width: 700px) { 
	.game-state-game .mdl-button{
		height:90px;
		font-size: 2em;
		padding-top: 1em;
	}

}

#load{
	display:none;
}